{% macro print_list_of_interfaces(list_of_interfaces) %}
{% for key, value in list_of_interfaces.items() %}
            {{ key + ": {" }}
                {{ "type: " + value["type"] + ","}}
            {{ "}" }}
{% endfor %}
{% endmacro %}
deployment:
    {{name}}:
        description: {{description}}:
        input:
            {{print_list_of_interfaces(input)}}
        output:
            {{print_list_of_interfaces(output)}}
        functions:
         {% for thisFunction in functions %}
         {{ "- " + thisFunction }}
         {% endfor %}
