deployment:
    {{name}}:
        description: {{description}}:
        input:
            {{input}}
        output:
            {{output}}
        functions:
            {% for thisFunction in functions %}
                {{ "- " + thisFunction }}
            {% endfor %}
