deployment:
    {{name}}:
        description: {{description}}:
        input:
            {% for key, value in input.items() %}
            {{ key + ": {" }}
                {{ "    type: " + value["type"] + ","}}
            {{ "}" }}
            {% endfor %}
        output:
            {{output}}
        functions:
         {% for thisFunction in functions %}
         {{ "- " + thisFunction }}
         {% endfor %}
